<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head')%>
        <link rel="stylesheet" href="./css.main.css">
</head>

<style>
    * {
        margin: 0;
        font-family: sans-serif;
    }

    .top {
        height: 100%;
        width: 100%;
        height: 80vh;
    }

    h1 {
        font-size: 6em;
        font-weight: 500;
        color: #222;
        letter-spacing: 5px;
        cursor: pointer;
        transition: 0.5s;
    }

    h1:hover {
        animation-name: fadeInOut 0.5s;
        transition: 0.5s;
        color: white;
        letter-spacing: 15px;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
    }
</style>

<body>
    <%- include('partials/navigation')%>

        <section class="top bg-black text-center d-flex justify-content-center align-items-center">
            <h1>Comencemos</h1>
        </section>
        <section class="vh-100">
            <p>Hola! soy un desarrollador junior que busca constantemente actualizar sus conocimientos para poder estar a la vanguardia en cuant a tecnologías de desarrollo, me gusta mucho el apartado del front-End, pero actualmente estoy ampliando mis conocimentos en cuanto al backend con mejores prácticas con los lenguajes de javascript y Java ya que son los que más están solicitando actualmente. <br>
            </p>
        </section>

</body>

</html>