<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
   <div class="mainPage d-flex container justify-content-center vh-100 align-items-center flex-column border-2">
       <img class="w-25" src="https://raw.githubusercontent.com/FaztWeb/first-node-express-app/refs/heads/master/src/public/img/fazt.png" alt="">
       <p class="fs-1 text-center fw-bold">¡Hola! <br>Soy Santiago</p>
   </div>
</body>
</html>