<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="title text-center">
            <h3 class="text-xl text-gray-400">Get to known more</h3>
            <h1 class="font-bold text-5xl text-gray-600 my-3">About me</h1>
        </div>
        <p class="text-center mt-8">Hello, I am Santiago Lara, a web developer, I like to be in search of new knowledge and reinforcing
            some already acquired. Since I discovered this world of programming, I am excited about everything that has to do with it.
            do with this world, I have participated in a diploma course on Java programming and I am currently
            taking a development Bootcamp with the tools from Backend with Java and with the framework to
            Angular front-end with data storage in SQL Server.
        </p>
    </section>
    <section class=" h-4/6 grid grid-rows-2 grid-cols-4 text-center gap-5 py-12">
        <div class="container flex items-center justify-center flex-col rounded-2xl hover:scale-105 transition border-2 col-span-2">
          <svg class="w-12" id="Layer_1" enable-background="new 0 0 511.827 511.827" viewBox="0 0 511.827 511.827" xmlns="http://www.w3.org/2000/svg"><g><path d="m335.406 189.131c0-43.832-35.659-79.491-79.49-79.491-43.832 0-79.491 35.659-79.491 79.491 0 43.831 35.659 79.49 79.491 79.49 43.831.001 79.49-35.659 79.49-79.49zm-94.49-35.69h30v71.38h-30z"/><path d="m142.572 385.45-24.736-58.239-2.53-1.075-66.552 135.856 60.606 4.61 41.019 45.225 62.896-128.125-7.9-5.95z"/><path d="m393.996 327.211-24.735 58.239-62.804-7.698-7.903 5.953 62.894 128.122 41.019-45.225 60.606-4.61-66.551-135.854z"/><path d="m255.916 378.262 42.167-31.761 52.398 6.422 20.637-48.589 48.59-20.637-6.423-52.398 31.761-42.167-31.761-42.167 6.423-52.399-48.59-20.637-20.637-48.589-52.398 6.422-42.167-31.762-42.167 31.761-52.398-6.422-20.638 48.589-48.589 20.637 6.423 52.399-31.761 42.167 31.761 42.167-6.423 52.398 48.589 20.637 20.638 48.589 52.398-6.422zm-109.49-189.131c0-60.374 49.117-109.491 109.491-109.491 60.373 0 109.49 49.117 109.49 109.491 0 60.373-49.117 109.49-109.49 109.49-60.374.001-109.491-49.117-109.491-109.49z"/></g></svg>
            cuadro 1</div>
        <div class="container flex items-center justify-center flex-col rounded-2xl hover:scale-105 transition border-2 col-span-2">
           <svg class="size-12" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 264.691 264.691" style="enable-background:new 0 0 264.691 264.691;" xml:space="preserve"><path d="M264.691,107.282l-133.26-73.49L0,106.426l54.082,30.171V230.9h153v-92.156l11-6.025V230.9h30V116.287L264.691,107.282z M131.542,68.061l71.015,39.139l-70.195,38.446l-70.321-39.14L131.542,68.061z M177.082,200.9h-93v-47.605l47.829,26.621 l45.171-24.741V200.9z"/></svg>
            cuadro 2</div>
        <div class="container flex items-center justify-center flex-col rounded-2xl hover:scale-105 transition border-2 ">cuadro 3</div>
        <div class="container flex items-center justify-center flex-col rounded-2xl hover:scale-105 transition border-2 ">cuadro 4</div>
        <div class="container flex items-center justify-center flex-col rounded-2xl hover:scale-105 transition border-2 ">cuadro 5</div>
        <div class="container flex items-center justify-center flex-col rounded-2xl hover:scale-105 transition border-2 ">cuadro 6</div>
    
    </section>
</body>

</html>